name: Deploy
on: [workflow_dispatch]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: rlespinasse/github-slug-action@v4
    - name: test
      run: |
        echo "repository       : ${{ env.GITHUB_REPOSITORY_SLUG }}"
        echo "repository owner : ${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG }}"
        echo "repository name  : ${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}"
    - name: Rancher Deploy
      uses: sekassel-research/actions-rancher-update@1.1.4
      with:
        rancher_url: ${{ secrets.RANCHER_URL_API }}
        rancher_access: ${{ secrets.RANCHER_ACCESS_KEY}}
        rancher_key: ${{ secrets.RANCHER_SECRET_KEY }}
        project_id: 1a862
        stack_name: newtest
        service_name: test
        docker_image: ghcr.io/${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG }}/${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}:${{ env.GITHUB_REF_SLUG_URL }} 

